header{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.home{
    position: absolute;
    padding: auto;
    margin-top: 10px;
    display: flex;
    gap: 400px;
}
.price{
    display: flex;
    margin-top: -15px;
    font-weight: bold;
}
a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin: 20px;
}
a:hover{
    color: yellow;
}
main{
    display: grid;
grid-template-columns: 1fr 2fr;
padding-left: 20px;
    a{
        color: black;
    }
    a:hover{
        color: none;
    }
}
button{
    color: #fff;
    background-color: #5A2C82;
    font-weight: bold;
}
.button-about{
    position: relative;
}
.about{
    position: absolute;
bottom: 10px;
a{
    color:#575756;
}
a:hover{
    color:yellow;
}
}
.pic{
display: flex;
overflow: scroll;
}
.card{
    display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 20px;
    
    div{
        border: 2px solid #E2E2E2;
        padding: 15px;  
    margin-top: 20px;
    height: 440px;
    font-size: 16px;
    color: #575756;
    font-weight: normal;
    position: relative;
    box-sizing: border-box;     
    }
button{
    display: inline-block;
    background: #A6368C;
    color: #FFF;
    font-size: 15px;
    min-width: 175px;
    padding: 8px 10px;
    text-decoration: none;
    margin-top: 10px;
    position: absolute;
    bottom: 15px;
    right: 25px;
}
    button:hover{
        background-color: yellow;
    }
    h1{
        color: #5A2C82;
        font-weight: 100;
        font-size: 20px;
    }
img{
    max-width: 100%;
}
}
.next{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    
    .next-page{
        min-height: 400px;
    }

p{
    margin: 0 0 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    unicode-bidi: isolate;
}
}
.mobile{
    
        display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
        
        div{
            border: 2px solid #E2E2E2;
            padding: 15px;  
        margin-top: 20px;
        height: 330px;
        font-size: 16px;
        color: #575756;
        font-weight: normal;
        position: relative;
        box-sizing: border-box;     
        }
        h3{
            color: #5A2C82;
            font-weight: 100;
            font-size: 20px;
            text-transform: uppercase;
        }
        a{
            color: #5A2C82;
            position: absolute;
            bottom: 0px;
            right: 20px;
        }
        a:hover{
            color: yellow;
        }
}

.view-page{
    display: flex;
    justify-content: space-between;
}
    table {
      width: 500px;
      border-collapse: collapse;
      margin: auto;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    thead {
      background-color: #6d2883;
      color: white;
    }

    th, td {
      padding: 12px 16px;
      text-align: left;
    }

    th {
      font-size: 16px;
    }

    tbody tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    .section-header {
      background-color: white;
      font-weight: bold;
      color: #6d2883;
      text-transform: uppercase;
      padding-top: 16px;
    }

    .section-header td {
      border-top: 2px solid #6d2883;
      padding-top: 10px;
    }

     .footer {
      background-color: #ffffff;
      padding: 40px 60px;
      a{
        color: #6d2883;
      }
      a:hover{
        text-decoration: underline;
      }
    }

    .footer h3 {
      color: #2a2a2a;
      font-size: 16px;
      margin-bottom: 15px;
    }

    .footer h3 span {
      color: #3466cc;
      font-weight: bold;
      text-transform: uppercase;
    }

    .footer-columns {
      display: grid ;
      grid-template-columns: repeat(6, 1fr);
      margin-bottom: 30px;
        color: #A6368C;
    }

    .footer-column {
      flex: 1 1 200px;
      margin: 10px 20px;
    }

    .footer-column ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .footer-column ul li {
      margin-bottom: 8px;
      font-size: 14px;
      color: #333;
    }
.footer-label{
    width: 100%;
    height: 3rem;
    background: #6d2883;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}
 .bottom-footer {
      padding: 20px 60px;
      font-size: 13px;
      color: #555;
      background-color: #ffffff;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #ddd;
    }

    .bottom-footer div {
      margin: 5px 0;
    }

    .bottom-footer a {
      margin-right: 20px;
      color: #555;
      text-decoration: none;
    }
